<div id="<%= dom_id channel %>">

  <p>
    <strong>Category:</strong>
    <%= channel.client_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= channel.device_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= channel.category %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= channel.platform %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= channel.path %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= channel.tipo %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= channel.color %>
  </p>

  <p>
    <strong>Range:</strong>
    <%= channel.range %>
  </p>

  <p>
    <strong>Array info:</strong>
    <%= channel.array_info %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= channel.label %>
  </p>

  <p>
    <strong>Previous state:</strong>
    <%= channel.previous_state %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= channel.obs %>
  </p>

</div>
