<% range = slide.range.split('-') %>

<div class="input-group mb-1 m-2">
  <span class="input-group-text">
    <%= slide.label %>:
  </span>
  <span class="input-group-text" id="slideValue<%= slide.id %>">
    <%= slide.previous_state %>
  </span>
  <input type="range" class="form-control"
    id=  "<%= slide.id %>"
    min= "<%= range[0] %>"
    max= "<%= range[1] %>"
    step="<%= range[2] %>"
    value="<%= slide.previous_state %>"

    data-action="change->iot#slide"
    data-span-value="slideValue<%= slide.id %>"
    data-path="<%= slide.path %>"
    data-id="<%= slide.id %>"
    data-device="acti<%= device.id %>"
  >
</div>
