<div style="margin: 15px; font-size: 13px;">
  <button 
    style="margin: 10px; font-size: 12px; padding: 5px;" 
    type="button" 
    id="<%= btn.id %>" 
    class="btn btn-secondary"
    data-action="click->iot#confirm_alarm"
    data-path="<%= device.obs %>"
    data-id="<%= btn.id %>"
    data-state="0"
    data-device="<%= device.id %>"
    data-title="Deseja realmente desligar o alarme?"
    data-text="Todos os integrantes do grupo serão notificados. E seus alarmes serão desligados."
    data-icon="question"
  >
    Desativar <%= btn.label %>
  </button>
</div>