<div class="container">
  <div class="row text-center d-flex align-items-center justify-content-center" style="height: 100%;">
    <div class="col">
      <button style="margin: 10px;" id="btn_set_new_name_<%= device.id %>" style="font-size: 12px; padding: 5px;" type="button" class="btn btn-primary" 
        data-bs-toggle="modal" data-bs-target="#textNoticeAlarm" 
        data-action="click->iot#set_modal_name" data-description="<%= device.description %>" data-id="<%= device.id %>">
        Texto personalizado
      </button>
    </div>
    <div class="col">
      <button style="margin: 10px;" id="btn_set_new_name_<%= device.id %>" style="font-size: 12px; padding: 5px;" type="button" class="btn btn-secondary" 
        data-bs-toggle="modal" data-bs-target="#mudarNomeDevice" 
        data-action="click->iot#set_modal_name" data-description="<%= device.description %>" data-id="<%= device.id %>">
        Renomear
      </button>
    </div>
    <div class="col">
      <span style="margin: 10px; font-size: 10px;" id="<%= info.id %>" class="badge bg-<%= info.color %>">Aguardando...</span>
    </div>
    <div class="col">
      <div class="form-check form-switch mb-2">
        <input class="form-check-input" type="checkbox"
          name="beep<%= device.token %>"
          id="beep<%= device.token %>"
          data-action="change->iot#change_beep"
          data-path="<%= terminal.path %>"
          data-beep="beep<%= device.token %>"
        >
        <label class="form-check-label" for="beep<%= device.token %>">Alarme Sonoro</label>
      </div>
    </div>
  </div>
</div>