<div id="<%= dom_id device %>">
  <p>
    <strong>Description:</strong>
    <%= device.description %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= device.device %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= device.token %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= device.tipo %>
  </p>

  <p>
    <strong>Versao:</strong>
    <%= device.versao %>
  </p>

  <p>
    <strong>Linkajuda:</strong>
    <%= device.linkAjuda %>
  </p>

  <p>
    <strong>Pathupdate:</strong>
    <%= device.pathUpdate %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= device.obs %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= device.client_id %>
  </p>

</div>
