<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Cel:</strong>
    <%= client.cel %>
  </p>

  <p>
    <strong>Address mqtt:</strong>
    <%= client.address_mqtt %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= client.obs %>
  </p>

</div>
