<div class="container">
  <div class="row text-center d-flex align-items-center justify-content-center" style="height: 100%;">
    <div class="col">
      <span style="margin: 10px;" class="badge bg-warning text-dark">Core: <%= device.device %></span>
    </div>
    <div class="col">
      <span style="margin: 10px; font-size: 10px;" id="<%= info.id %>" class="badge bg-<%= info.color %>">Aguardando...</span>
    </div>
    <div class="col">
      <button style="margin: 10px;" id="btn_set_new_name_<%= device.id %>" style="font-size: 12px; padding: 5px;" type="button" class="btn btn-secondary" 
        data-bs-toggle="modal" data-bs-target="#mudarNomeDevice" 
        data-action="click->iot#set_modal_name" data-description="<%= device.description %>" data-id="<%= device.id %>">
        Renomear
      </button>
    </div>
    <div class="col">
      <button style="margin: 10px;" style="font-size: 12px; padding: 5px;" type="button" class="btn btn-<%= reset.color %> float-right"
        data-action="click->iot#confirm_restart"
        data-title="Deseja reiniciar o Dispositivo?"
        data-text="Você perderá momentaneamente o acesso até a conexão ser restabelecida"
        data-icon="question"
        data-path="<%= reset.path %>"
        data-device="acti<%= device.id %>" >
        Reiniciar
      </button>
    </div>
    <div class="col">
      <button style="margin: 10px;" style="font-size: 12px; padding: 5px;" type="button" class="btn btn-info" data-bs-toggle="modal" 
        data-bs-target="#calibrarDCMini" id='btndc<%= device.token %>'
        onclick="document.getElementById('topic_calibrate').innerHTML = '<%= info.path %>';
                 document.getElementById('description_calibrate').innerHTML = '<%= device.description %>'" >
        Calibrar tensão
      </button>
    </div>
    <div class="col">
      <button style="margin: 10px;" style="font-size: 12px; padding: 5px;" type="button" class="btn btn-primary" 
        onclick="get_chart('<%= device.id %>', '<%= vcc.path %>', 'chart_<%= vcc.device_id %>')" >
        Gráfico 24h
      </button>
    </div>
  </div>
</div>

<script>
  var chartInstances = {}

  function hide_chart(){
    const chart = document.getElementById('chart_<%= device.id %>')
    const hide_chart = document.getElementById('hide_chart_<%= device.id %>')
    chart.style.display = "none"
    hide_chart.style.display = "none"
  }

  function convertDate(str) {
    let [date, time] = str.split(', ')
    let [day, month, year] = date.split('/')
    let [hour, minute, second] = time.split(':')
    return `${hour}:${minute}`
  }

  function create_chart(device_id, chart_id, times, values){
    const hide_chart = document.getElementById(`hide_chart_${device_id}`)
    const ctx = document.getElementById(chart_id)
    ctx.style.display = "block"
    hide_chart.style.display = "block"

    if (chartInstances[device_id] != undefined) {
      chartInstances[device_id].destroy();
    }

    chartInstances[device_id] = new Chart(ctx, {
      type: 'line',
      data: {
        labels: times,
        datasets: [{
          label: 'Tensão Dc',
          data: values,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    })
  }

  function get_chart(device_id, path, chart_id){
    const dados = { param1: 'chart', param2: path }
    const csrfToken = document.querySelector('meta[name="csrf-token"]').content

    fetch('/others', { method: 'POST', headers: { 'Content-Type': 'application/json', 'X-CSRF-Token': csrfToken }, body: JSON.stringify(dados) })
      .then(response => response.json())
      .then(dt => {
        if (dt.error == false) {
          let array = JSON.parse(dt.data)
          const times = array.map(obj => convertDate(obj.time))
          const values = array.map(obj => parseFloat(obj.value))
          create_chart(device_id, chart_id, times, values)
        }else {
          console.log(dt)
          $.notify(dt.message, "error")
        }
      })
      .catch(error => console.error('Erro ao fazer fetch:', error))
  }
</script>