<div class="container">
  <div class="row text-center d-flex align-items-center justify-content-center" style="height: 100%;">
    <div class="col">
      <span style="margin: 10px;" class="badge bg-warning text-dark">Core: <%= device.device %></span>
    </div>
    <div class="col">
      <span style="margin: 10px; font-size: 10px;" id="<%= info.id %>" class="badge bg-<%= info.color %>">Aguardando...</span>
    </div>
    <div class="col">
      <button style="margin: 10px;" id="btn_set_new_name_<%= device.id %>" style="font-size: 12px; padding: 5px;" type="button" class="btn btn-secondary" 
        data-bs-toggle="modal" data-bs-target="#mudarNomeDevice" 
        data-action="click->iot#set_modal_name" data-description="<%= device.description %>" data-id="<%= device.id %>">
        Renomear
      </button>
    </div>
    <div class="col">
      <button style="margin: 10px;" style="font-size: 12px; padding: 5px;" type="button" class="btn btn-<%= reset.color %> float-right"
        data-action="click->iot#confirm_restart"
        data-title="Deseja reiniciar o Dispositivo?"
        data-text="Você perderá momentaneamente o acesso até a conexão ser restabelecida"
        data-icon="question"
        data-path="<%= reset.path %>"
        data-device="acti<%= device.id %>" >
        Reiniciar
      </button>
    </div>
    <div class="col">
      <button style="margin: 10px;" style="font-size: 12px; padding: 5px;" type="button" class="btn btn-info" data-bs-toggle="modal" 
        data-bs-target="#calibrarDCMini" id='btndc<%= device.token %>'
        onclick="document.getElementById('topic_calibrate').innerHTML = '<%= info.path %>';
                 document.getElementById('description_calibrate').innerHTML = '<%= device.description %>'"
      >
        Calibrar tensão
      </button>
    </div>
  </div>
</div>
