<div class="accordion-item">

  <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%= device.id %>" aria-expanded="false" aria-controls="collapseOne<%= device.id %>">
    <span class="me-auto" id="nomeDevice<%= device.id %>">
      <%= device.description %> - <%= device.versao %>
    </span>
    <div  class="ms-auto" style="background-color: #FA8072;" id="acti<%= device.id %>">
      Offline
    </div>
  </button>

  <div id="collapseOne<%= device.id %>" class="accordion-collapse collapse <%= @show %>" aria-labelledby="flush-headingOne" data-bs-parent="#list_devices_accordion">

    <div class="accordion-body">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="control-tab<%= device.id %>" data-bs-toggle="tab" data-bs-target="#control<%= device.id %>" type="button" role="tab" aria-controls="control<%= device.id %>" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab<%= device.id %>" data-bs-toggle="tab" data-bs-target="#profile<%= device.id %>" type="button" role="tab" aria-controls="profile<%= device.id %>" aria-selected="false">Configs</button>
        </li>
      </ul>


      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="control<%= device.id %>" role="tabpanel" aria-labelledby="control-tab<%= device.id %>">
          <% ch = object_of_channels(channels) %>
          <div style="border: 1px solid lightblue; border-radius: 10px;">
            <div class="row text-center d-flex align-items-center justify-content-center" style="height: 100%; margin-botton: 15px;">
              <br>
              <div class="col">
                <%= render 'components/value', device: device, value: ch['value'] %>
              </div>
              <div class="col">
                <%= render 'components/led', device: device, led: ch['led1'] %>
              </div>
              <div class="col">
                <%= render 'components/led', device: device, led: ch['led2'] %>
              </div>
            </div>
          </div>
          <div>
            <%= render 'components/terminal_view', device: device, terminal: ch['terminal_view'] %>
            <%= render 'components/mini_monit/terminal_insert', device: device, terminal: ch['terminal_insert'] %>
            <%= render 'components/mini_monit/info', device: device, info: ch['info'], reset: ch['reiniciar'] %>
          </div>
        </div>
        <div class="tab-pane fade" id="profile<%= device.id %>" role="tabpanel" aria-labelledby="profile-tab<%= device.id %>">
          <%= render 'components/mini_monit/configs', device: device, prefes_insert: ch['prefes_insert'] %>
        </div>
      </div>


    </div>
  </div>
</div>