<div class="accordion-item">

  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%= device.id %>" aria-expanded="false" aria-controls="collapseOne<%= device.id %>">
    <span id="nomeDevice<%= device.id %>"><%= device.description %> - <%= device.versao %></span> &nbsp;&nbsp;
    <div style=" height: 30; width: 30; background-color: #FA8072; border-radius: '50%'; justify-content: 'center'; align-items: 'center'" id="acti<%= device.id %>">Offline</div>
  </button>

  <div id="collapseOne<%= device.id %>" class="accordion-collapse collapse <%= @show %>" aria-labelledby="flush-headingOne" data-bs-parent="#list_devices_accordion">
    <div class="accordion-body">

      <div style="border: 1px solid lightblue; border-radius: 10px;">
        <div class="row text-center d-flex align-items-center justify-content-center" style="height: 100%;">
          <div class="col">
            <%= render 'components/value', device: device, value: @ch['value'] %>
          </div>
          <div class="col">
            <p>Conteúdo da segunda coluna</p>
          </div>
          <div class="col">
            <p>Conteúdo da terceira coluna</p>
          </div>
        </div>
      </div>

      <%= render 'components/terminal_view', device: device, terminal: @ch['terminal_view'] %>
      <%= render 'components/terminal_insert', device: device, terminal: @ch['terminal_insert'] %>

    </div>
  </div>

</div>